<div class="row-layout group">
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
      </h3>
      <h5 igxCardHeaderSubtitle>
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <div class="column-layout group_1">
        <img src="/assets/Logo.svg" class="image" />
        <p class="igx-typography__subtitle-1 content">
          Products
        </p>
        <h4 class="content">
          1,236
        </h4>
        <p class="igx-typography__subtitle-2 text">
          Increased 75%
        </p>
      </div>
    </igx-card-content>
    <igx-card-actions [reverse]="true" class="actions-content">
      <button igxButton="outlined" igxRipple class="button">
        VIEW REPORT
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
      </h3>
      <h5 igxCardHeaderSubtitle>
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <div class="column-layout group_1">
        <img src="/assets/Logo.svg" class="image" />
        <p class="igx-typography__subtitle-1 content">
          Products
        </p>
        <h4 class="content">
          1,236
        </h4>
        <p class="igx-typography__subtitle-2 text">
          Increased 75%
        </p>
      </div>
    </igx-card-content>
    <igx-card-actions [reverse]="true" class="actions-content">
      <button igxButton="outlined" igxRipple class="button">
        VIEW REPORT
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
      </h3>
      <h5 igxCardHeaderSubtitle>
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <div class="column-layout group_1">
        <img src="/assets/Logo.svg" class="image" />
        <p class="igx-typography__subtitle-1 content">
          Products
        </p>
        <h4 class="content">
          1,236
        </h4>
        <p class="igx-typography__subtitle-2 text">
          Increased 75%
        </p>
      </div>
    </igx-card-content>
    <igx-card-actions [reverse]="true" class="actions-content">
      <button igxButton="outlined" igxRipple class="button">
        VIEW REPORT
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
      </h3>
      <h5 igxCardHeaderSubtitle>
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <div class="column-layout group_1">
        <img src="/assets/Logo.svg" class="image" />
        <p class="igx-typography__subtitle-1 content">
          Products
        </p>
        <h4 class="content">
          1,236
        </h4>
        <p class="igx-typography__subtitle-2 text">
          Increased 75%
        </p>
      </div>
    </igx-card-content>
    <igx-card-actions [reverse]="true" class="actions-content">
      <button igxButton="outlined" igxRipple class="button">
        VIEW REPORT
      </button>
    </igx-card-actions>
  </igx-card>
</div>
<div class="column-layout group_2">
  <h6 class="content_1">
    Issue REPRODUCED IN: Blazor and Web Components generated apps
  </h6>
  <div class="row-layout group_3">
    <p class="igx-typography__subtitle-1 content_1">
      Cards have an opacity issue. They look disabled.
    </p>
    <h6 class="content_1">
      REPRODUCED IN: Blazor and WebComponents generated apps
    </h6>
  </div>
</div>
